/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fbfdfd;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Puedes agregar más estilos aquí */

#animeCarousel h5,
#animeCarousel p {
  color: white; /* Color del texto blanco */
  text-shadow: 2px 2px 4px black, -2px -2px 4px black; /* Sombra negra al texto con desplazamiento */
  background-color: rgba(0, 0, 0, 0.047); /* Fondo semitransparente negro */
  padding: 5px; /* Espacio alrededor del texto para que el fondo sea visible */
  /* Otros estilos CSS según tus preferencias */
}


.carousel-inner img {
    width: 35%; /* Establece un ancho del 100% para que las imágenes se ajusten al contenedor */
    height: auto; /* Mantén la proporción de aspecto original */
  }
  